ion-col {
  text-align: center;
}


.h1{
  text-align: center;
  margin-bottom: 30px;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h3{
  text-align: center;
}
  
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.titulo2{
  text-align: center;
  margin-bottom: 10%;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
// .col{
//   text-align: center;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }