<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content>
  <h1 class="h1">Sobre nosotros</h1>
  <h2 class="h2">Somos estudiantes de la carrera de Ingenieria en informatica en Duoc UC. Actualmente nos encontramos en nuestro segundo
    año de carrera, y esta aplicacion esta basada en el proyecto que se nos ha otorgado realizar durante el semestre para el ramo
    "Desarrollo de Aplicaciones Moviles" presentada por el profesor Christian Sarmiento.
  </h2>
  <h1 class="h1">Quienes somos</h1>
  <ion-card>
    <img class="img" src="./assets/icon/persona.png"/>
    <ion-card-header>
      <ion-card-subtitle>Estudiante de Duoc UC</ion-card-subtitle>
      <ion-card-subtitle>21 años</ion-card-subtitle>
      <ion-card-title>Gabriel Toledo</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img class="img" src="./assets/icon/persona.png"/>
    <ion-card-header>
      <ion-card-subtitle>Estudiante de Duoc UC</ion-card-subtitle>
      <ion-card-subtitle>20 años</ion-card-subtitle>
      <ion-card-title>Vicente Muñoz</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img class="img" src="./assets/icon/persona.png"/>
    <ion-card-header>
      <ion-card-subtitle>Estudiante de Duoc UC</ion-card-subtitle>
      <ion-card-subtitle>21 Años</ion-card-subtitle>
      <ion-card-title>Luis Muñoz</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
