<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>


  <ion-content class="ion-padding">
    <h1>
      Estos son los vehiculos que actualmente reciben pasajeros
    </h1>
  
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let conductor of simovilizacion">
          <ion-avatar slot="start">
            <img [src]="conductor.imagen" alt="">
          </ion-avatar>
          <ion-label>
            <h3>Nombre: {{conductor.nombre}} {{conductor.apellido}}</h3>
            <h3>Inicio: {{conductor.inicio}}</h3>
            <h3>Destino: {{conductor.destino}}</h3>
            <h3>Valor persona: {{conductor.valor}}</h3>
            <ion-button expand="block" (click)="obtenerDetalleConductor(conductor)">Coordinar Viaje</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>



<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-title>No movilizacion</ion-title>
  </ion-toolbar>
</ion-header> -->


<!-- <ion-content>
  <h1>
    Estos son los vehiculos que actualmente reciben pasajeros
  </h1>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let conductor of simovilizacion">
        <ion-avatar slot="start">
          <img [src]="conductor.imagen" alt="">
        </ion-avatar>
        <ion-label>
          <h3>Nombre: {{conductor.nombre}} {{conductor.apellido}}</h3>
          <h3>Inicio: {{conductor.inicio}}</h3>
          <h3>Destino: {{conductor.destino}}</h3>
          <h3>Valor persona: {{conductor.valor}}</h3>
          <ion-button expand="block" (click)="obtenerDetalleConductor(conductor)">Coordinar Viaje</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content> -->
