<ion-header>
  <ion-toolbar color="dark">
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="img" src="../../../assets/icon/menu-seleccion.png" alt="">

  <ion-card >
    <h1>
      ¿Cuenta con movilizacion?
    </h1>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Si</h1>
        </ion-col>
        <ion-col>
          <h1>No</h1>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/home']">Ir al home</ion-button>
        </ion-col>
        <ion-col>
          <ion-button [routerLink]="['/home2']">Ir al home</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
