.datos{
    margin-bottom: 10%;
}
h3{
    font-size: larger;
}
.codigo{
    text-align: center;
    text-transform: capitalize;
}
.opcion{
    color: black;
    text-align: center;
    font-size: large;
}
.card{
    background-color: darkgrey;
}

.label{
    text-align: center;
}
p{
    color: black;
    font-size: large;
}
.boton{
    text-align: center;
}

.input{
    background-color: aliceblue;
    color: black;
}